site_name: Teams API library
site_description: A Go library for interacting with Microsoft Teams API.
site_url: https://pzsp-teams.github.io/lib/
repo_url: https://github.com/pzsp-teams/lib

theme:
  name: material
  features:
    - content.code.copy
    - navigation.expand
  palette:
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search

nav:
  - Home: index.md
  - API:
      - Client: client.md
      - Teams: teams.md
      - Channels: channels.md
      - Chats: chats.md
      - Models: models.md
      - Config: config.md
